:root {
  --primary-bg: #ff78ac;
  --secondary-bg: #a8d5e3;
  --third-bg: #fdfdfd;
  --accent-color: #f2f0ea;
  --text-color: #333;
}

body {
  overflow-x: hidden; /* Mengatasi kelebihan space */
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background: var(--third-bg);
  line-height: 1.6;
}

.navbar {
  background-color: var(--primary-bg);
  justify-content: space-between; /* Biar benggang */
  display: flex;
  align-items: center;
  color: var(--accent-color);
  padding: 12px 60px; /* padding: [atas/bawah] [kiri/kanan] */
  position: sticky;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 1. 3px: ke kanan; 2. 3px: ke bawah; 3. 10px: seberapa lembut tepinya; 4. rgba: warna bayangan */
}

.navbar a {
  gap: 30px;
  color: var(--accent-color);
  margin-left: 10px;
  font-weight: 800;
}

.navbar a:hover {
  color: var(--text-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.homepage {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* biar di tengah2 */
  background: linear-gradient(
    to bottom,
    var(--secondary-bg),
    var(--third-bg)
  ); /* biar ada dua warna dari atas ke bawah */
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Item akan turun kalau space ga muat */
  border-radius: 8px;
  padding: 20px;
  justify-content: center;
  background-color: var(--third-bg);
}

.card {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 300px; /* Ngga akan lebih besar dari 300px */
}

.card a {
  color: var(--primary-bg);
  font-weight: 600;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: var(--primary-bg);
  padding: 20px;
  color: var(--accent-color);
  margin-top: 40px;
  width: 100%;
}
